{% extends 'base.html' %}


{% block content %}   
    <div class="container-fluid">

      <!-- event -->
      <div class="row mt-5 text-center justify-content-center">
        <div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-4 col-xxl-4">

          <!-- title  -->
          <h1>
            Booking History
          </h1>


          <div class="card cards mb-5 mt-5">
            <!-- event image -->
            <img src="\static\img\artsclass.jpg" class="img-fluid img-thumbnail" alt="eventimage">
            <div class="card-body mb-3 mt-5">
              <!-- booking content -->
              <h2 class="card-title mb-4">Event: Arts Class</h2>

              <p class="card-text mb-4">Booking OrderID: S4Y-5694</p>
              <p class="card-text mb-4">Booking date: 20 September, 2021</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}